# COGS 108 - Final Project

# Overview

As the pace of life continues to accelerate, more and more people are having different degrees of mental health problems. According to a recent survey, one in four people in the world will be affected by mental or neurological disorders at some point in their lives. If mental problems are not carefully taken care of, commiting suicide will become the most irreparable tragedy in the end. As a team, we want to investigate into different potential factors that may cause suicidal behavior. Specifically in our project, we focus on the relationship between suicide rate and gender, country, GDP and HDI(Human Development Index, a statistic composite index of life expectancy, education, and per capita income indicators). We hope to shed light on such serious mental issues and effectively intervene and prevent suicidal behaviors.

# Names

- Sainan Chen
- Liying Gui
- Yuechen Liu
- Kunal Parilekar
- Maryam Rahdaran
- Mingshuo Yu

# Group Members IDs

- A14483750
- A14428755
- A15682187
- A12747850
- A15714113
- A14754971

# Research Question

*Fill in your research question here*

## Background and Prior Work

Suicide has became one of the major causes of death in recent years. According to World Health Organization (WHO), there are 800,000 people commit suicide every year, which is twice the population for all UC campus, and it equals to one life lose every 40 seconds. The trend of increasing suicide rate can also be seen from previous researches. According to Bertolote and Fleischmann, global suicide rates per 100,000 population increased from 22 in 1950 to 32 in 1995, and finally expected to 37 in 2020. They also mentions that total estimate of suicide in 2020 would be 1.53 million. 

To effectively reduce the suicide rate, social behavior scientists and psychologists want to find out if suicide is related to physical conditions. Another two focus of Bertolote and Fleischmann’s paper is correlation of gender and age with suicide rate. Generally the male suicide rate is higher than female and the ratio is still growing every year (3.2:1 in 1950, 3.6:1 in 1995 and 3.9:1 in 2020). Furthermore, when the age increases, the suicide rate also increases (rate of 1.2 in age group 5-14, and 55.7 in age group over 75). Another factor influencing suicide rate that Antonio and Preti mentioned in their paper is climate and season. Elders’ suicide time distribution is more seasonally asymmetric, and people are more likely to commit suicide with violent methods during spring time than late autumns. In contrast, non-violent suicide has the opposite time distribution from violent suicide time distribution. More specifically, suicide rate is positively correlated to temperature and exposure to sun. 

In our project, besides looking at the suicide trend and checking the influence of gender and age on suicide rate using 30-year data, we want to further investigate if the country people live also affect suicide rate by looking at the country’s HDI and GDP. 

References (include links):
- 1)Bertolote, Manoel José and Fleischmann Alexandra Fleischmann. “A global perspective
in the epidemiology of suicide.” Suicidologi, 2002, årg. 7, nr. 2. https://www.iasp.info/pdf/papers/Bertolote.pdf.
- 2) Antonio Preti,􏰒, Paola Miotto, 1998. “Seasonality in suicides: the influence of suicide method, gender and age on suicide distribution in Italy.” Psychiatry Research, Volume 81, Issue 2, 16 November 1998, Pages 219-231. https://www.sciencedirect.com/science/article/pii/S0165178198000997.

# Hypothesis

MO’ MONEY, MO’ PROBLEMS 
We hypothesize that suicide is positively correlated with a country’s level of monetary wealth, but less strongly or perhaps negatively correlated with non-monetary measures of well-being.  
We used two data sets, one containing the Gross Domestic Product of 101 countries, and another containing their location on the Human Development Index (HDI).   
Additionally, we analyzed suicide global trends and suicide rates according to age and gender.

# Dataset(s)

Main data source: https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016/

HDI data source:
http://hdr.undp.org/en/indicators/137506


The Kaggle dataset consists of information about suicide rates between 1985 to 2016 from 101 countries.  (Not all countries are represented due to unavailability of data from countries in Africa, Southeast Asia, and the Eastern Mediterranian. See Suicidologi 2002: 7(2), http://www.journals.uio.no/index.php/suicidologi/article/viewFile/2330/2193)

 Features in this dataset include:  

Country: a unique name for each country 
Year : include years from 1985 to 2016 
Sex: male/ female 
Age: age range of persons that commited suicide ( 5-14, 15-24, 25-34, 35-54, 55-74, and 75+ )
Suicide-no: the number of suicides per country, year, sex and age group 
Population: Population a country-year-sex-age level. 
suicides/100k pop:  the number of suicides per country, year, sex and age group/ 100k population by country-year-sex-age level. 
country-year: the year that suicides happened 
HDI for year:  Human Development Index 
gdp_for_year : Gross Domestic Product per year for a country 
gdp_per_capita : Gross Domestic Product (GDP) per capita (per person).
Generation: the generation of persons that committed suicide. Such as: Boomers, generation X, and etc.

HDI report dataset includes the HDI between 1990 to 2017 for each country. We used this data set to fill out missing HDI data in Kaggle dataset.

# Setup

In [1]:
#Import the libraries
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import patsy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns

import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

/opt/conda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
#Set up the dataframe
main_df = pd.read_csv("master.csv")
#Set up the supplementary dataframe for HDI
supp_df = pd.read_csv("Human-development-index-HDI.csv", encoding='latin-1')

In [3]:
#Now combine the two databases
#Get the earliest year from the main database
min_year = main_df['year'].min()
print(min_year)
#This falls before the supp database so leave it for now
supp_df

1985

,Human development index (HDI),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,168,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.437,0.453,0.463,0.471,0.482,0.487,0.491,0.493,0.494,0.498
1,68,Albania,0.645,0.626,0.610,0.613,0.619,0.632,0.641,0.641,...,0.724,0.729,0.741,0.752,0.767,0.771,0.773,0.776,0.782,0.785
2,85,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.608,0.617,...,0.709,0.719,0.729,0.736,0.740,0.745,0.747,0.749,0.753,0.754
3,35,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.831,0.830,0.828,0.827,0.849,0.850,0.853,0.854,0.856,0.858
4,147,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.502,0.522,0.520,0.535,0.543,0.554,0.564,0.572,0.577,0.581
5,70,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.777,0.770,0.766,0.762,0.765,0.768,0.770,0.775,0.778,0.780
6,47,Argentina,0.704,0.713,0.720,0.725,0.728,0.731,0.738,0.746,...,0.795,0.799,0.813,0.819,0.818,0.820,0.820,0.822,0.822,0.825
7,83,Armenia,0.631,0.628,0.580,0.588,0.599,0.605,0.612,0.623,...,0.727,0.724,0.728,0.731,0.737,0.742,0.745,0.748,0.749,0.755
8,3,Australia,0.866,0.867,0.868,0.872,0.875,0.883,0.886,0.889,...,0.920,0.921,0.923,0.925,0.929,0.931,0.933,0.936,0.938,0.939
9,20,Austria,0.795,0.800,0.805,0.807,0.813,0.817,0.820,0.824,...,0.884,0.886,0.895,0.897,0.899,0.897,0.901,0.903,0.906,0.908
10,80,Azerbaijan,NaN,NaN,NaN,NaN,NaN,0.612,0.612,0.617,...,0.719,0.736,0.740,0.741,0.745,0.752,0.758,0.758,0.757,0.757
11,54,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.790,0.787,0.789,0.793,0.807,0.807,0.807,0.807,0.806,0.807
12,43,Bahrain,0.746,0.752,0.757,0.765,0.769,0.775,0.778,0.779,...,0.796,0.794,0.796,0.798,0.800,0.807,0.810,0.832,0.846,0.846
13,136,Bangladesh,0.387,0.394,0.402,0.409,0.417,0.425,0.433,0.442,...,0.523,0.535,0.545,0.557,0.567,0.575,0.583,0.592,0.597,0.608
14,58,Barbados,0.716,0.718,0.718,0.721,0.727,0.731,0.735,0.740,...,0.781,0.783,0.782,0.787,0.795,0.796,0.796,0.797,0.799,0.800
15,53,Belarus,NaN,NaN,NaN,NaN,NaN,0.657,0.661,0.667,...,0.774,0.784,0.792,0.798,0.803,0.804,0.807,0.805,0.805,0.808
16,17,Belgium,0.806,0.810,0.825,0.839,0.845,0.852,0.857,0.862,...,0.899,0.899,0.903,0.904,0.905,0.908,0.909,0.913,0.915,0.916
17,106,Belize,0.644,0.651,0.657,0.661,0.661,0.662,0.662,0.664,...,0.700,0.699,0.699,0.702,0.706,0.705,0.706,0.709,0.709,0.708
18,163,Benin,0.348,0.354,0.358,0.365,0.368,0.373,0.377,0.381,...,0.462,0.468,0.473,0.479,0.489,0.500,0.505,0.508,0.512,0.515
19,134,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.543,0.554,0.566,0.575,0.585,0.589,0.599,0.603,0.609,0.612
20,118,Bolivia (Plurinational State of),0.536,0.543,0.550,0.557,0.564,0.571,0.578,0.580,...,0.640,0.647,0.649,0.655,0.662,0.668,0.675,0.681,0.689,0.693
21,77,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.719,0.720,0.713,0.721,0.739,0.747,0.754,0.755,0.766,0.768
22,101,Botswana,0.581,0.588,0.587,0.585,0.575,0.577,0.571,0.570,...,0.639,0.648,0.660,0.673,0.683,0.693,0.701,0.706,0.712,0.717
23,79,Brazil,0.611,0.615,0.622,0.630,0.640,0.648,0.656,0.664,...,0.716,0.718,0.727,0.731,0.736,0.748,0.752,0.757,0.758,0.759
24,39,Brunei Darussalam,0.782,0.787,0.792,0.797,0.801,0.805,0.807,0.810,...,0.840,0.842,0.842,0.846,0.852,0.853,0.853,0.852,0.852,0.853
25,51,Bulgaria,0.694,0.691,0.691,0.690,0.691,0.696,0.702,0.704,...,0.771,0.774,0.779,0.782,0.786,0.792,0.797,0.807,0.810,0.813
26,183,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.357,0.366,0.375,0.385,0.394,0.401,0.405,0.412,0.420,0.423
27,185,Burundi,0.297,0.300,0.297,0.299,0.298,0.296,0.294,0.296,...,0.372,0.387,0.395,0.403,0.408,0.414,0.421,0.418,0.418,0.417
28,125,Cabo Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.625,0.626,0.629,0.635,0.636,0.642,0.644,0.647,0.652,0.654
29,146,Cambodia,0.364,0.368,0.373,0.377,0.380,0.387,0.391,0.397,...,0.521,0.521,0.537,0.546,0.553,0.560,0.566,0.571,0.576,0.582
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,76,Sri Lanka,0.625,0.630,0.635,0.637,0.646,0.650,0.655,0.662,...,0.738,0.740,0.745,0.751,0.757,0.759,0.763,0.766,0.768,0.770
160,167,Sudan,0.331,0.336,0.345,0.352,0.359,0.366,0.375,0.384,...,0.463,0.468,0.470,0.474,0.485,0.475,0.492,0.497,0.499,0.502
161,100,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.691,0.677,0.703,0.706,0.711,0.715,0.718,0.722,0.719,0.720
162,7,Sweden,0.816,0.818,0.821,0.840,0.849,0.856,0.863,0.874,...,0.901,0.899,0.905,0.906,0.908,0.912,0.920,0.929,0.932,0.933
163,2,Switzerland,0.832,0.834,0.836,0.841,0.844,0.848,0.854,0.864,...,0.917,0.927,0.932,0.932,0.935,0.938,0.939,0.942,0.943,0.944
164,155,Syrian Arab Republic,NaN,0.562,0.568,0.571,0.576,0.579,0.583,0.587,...,0.646,0.648,0.644,0.642,0.631,0.572,0.550,0.538,0.536,0.536
165,127,Tajikistan,0.623,0.618,0.597,0.579,0.558,0.550,0.534,0.538,...,0.618,0.620,0.634,0.637,0.642,0.646,0.645,0.645,0.647,0.650
166,154,Tanzania (United Republic of),0.370,0.371,0.370,0.370,0.369,0.371,0.372,0.375,...,0.477,0.486,0.493,0.499,0.506,0.507,0.515,0.528,0.533,0.538
167,83,Thailand,0.574,0.583,0.589,0.597,0.604,0.611,0.619,0.625,...,0.714,0.718,0.724,0.727,0.731,0.728,0.735,0.741,0.748,0.755
168,80,The former Yugoslav Republic of Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.728,0.731,0.735,0.738,0.740,0.743,0.747,0.754,0.756,0.757
169,132,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.599,0.610,0.619,0.624,0.599,0.614,0.610,0.630,0.631,0.625
170,165,Togo,0.405,0.408,0.399,0.390,0.396,0.409,0.417,0.424,...,0.440,0.449,0.456,0.463,0.466,0.472,0.481,0.495,0.500,0.503
171,98,Tonga,0.648,0.654,0.656,0.660,0.668,0.671,0.671,0.671,...,0.702,0.706,0.712,0.716,0.717,0.716,0.717,0.721,0.724,0.726
172,69,Trinidad and Tobago,0.672,0.673,0.673,0.675,0.679,0.683,0.690,0.697,...,0.773,0.772,0.775,0.773,0.774,0.779,0.779,0.783,0.785,0.784
173,95,Tunisia,0.569,0.575,0.583,0.589,0.600,0.607,0.616,0.623,...,0.707,0.710,0.716,0.718,0.719,0.723,0.725,0.728,0.732,0.735
174,64,Turkey,0.579,0.583,0.589,0.597,0.599,0.607,0.615,0.624,...,0.710,0.718,0.734,0.753,0.760,0.771,0.778,0.783,0.787,0.791
175,108,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.673,0.680,0.686,0.692,0.697,0.701,0.705,0.706
176,162,Uganda,0.311,0.311,0.305,0.312,0.315,0.321,0.338,0.353,...,0.470,0.477,0.486,0.490,0.492,0.496,0.500,0.505,0.508,0.516
177,88,Ukraine,0.705,0.701,0.692,0.681,0.668,0.664,0.661,0.663,...,0.733,0.727,0.733,0.738,0.743,0.745,0.748,0.743,0.746,0.751
178,34,United Arab Emirates,0.727,0.738,0.742,0.748,0.756,0.764,0.771,0.778,...,0.838,0.835,0.836,0.841,0.846,0.851,0.855,0.860,0.862,0.863
179,14,United Kingdom,0.775,0.788,0.801,0.814,0.827,0.839,0.844,0.849,...,0.896,0.899,0.905,0.899,0.898,0.915,0.919,0.918,0.920,0.922
180,13,United States,0.860,0.861,0.867,0.871,0.875,0.877,0.879,0.881,...,0.910,0.910,0.914,0.917,0.918,0.916,0.918,0.920,0.922,0.924
181,55,Uruguay,0.692,0.697,0.700,0.703,0.709,0.711,0.717,0.727,...,0.766,0.778,0.773,0.782,0.790,0.797,0.801,0.800,0.802,0.804
182,105,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.653,0.659,0.666,0.674,0.683,0.690,0.695,0.698,0.703,0.710
183,138,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.589,0.590,0.591,0.592,0.592,0.597,0.598,0.599,0.600,0.603
184,78,Venezuela (Bolivarian Republic of),0.634,0.644,0.651,0.653,0.654,0.658,0.660,0.664,...,0.753,0.753,0.759,0.771,0.774,0.776,0.778,0.775,0.766,0.761
185,116,Viet Nam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,...,0.640,0.656,0.654,0.664,0.670,0.675,0.678,0.684,0.689,0.694
186,178,Yemen,0.399,0.403,0.405,0.408,0.409,0.415,0.422,0.427,...,0.485,0.491,0.498,0.499,0.505,0.507,0.505,0.483,0.462,0.452
187,144,Zambia,0.401,0.402,0.403,0.409,0.408,0.412,0.416,0.419,...,0.517,0.533,0.544,0.556,0.569,0.574,0.580,0.583,0.586,0.588
188,156,Zimbabwe,0.491,0.494,0.481,0.476,0.473,0.467,0.466,0.459,...,0.439,0.450,0.467,0.478,0.505,0.516,0.525,0.529,0.532,0.535

In [4]:
supp_df['Country'] = supp_df['Country'].astype(str)
supp_df.dtypes

Human development index (HDI)      int64
Country                           object
1990                             float64
1991                             float64
1992                             float64
1993                             float64
1994                             float64
1995                             float64
1996                             float64
1997                             float64
1998                             float64
1999                             float64
2000                             float64
2001                             float64
2002                             float64
2003                             float64
2004                             float64
2005                             float64
2006                             float64
2007                             float64
2008                             float64
2009                             float64
2010                             float64
2011                             float64
2012                             float64
2013                             float64
2014                             float64
2015                             float64
2016                             float64
2017                             float64
dtype: object

In [ ]:
main_df.rename(columns={' gdp_for_year ($) ':'gdp_for_year ($)'}, inplace=True)
main_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,Uzbekistan2012,0.668,"51,821,573,338",1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,Uzbekistan2012,0.668,"51,821,573,338",1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,Uzbekistan2012,0.668,"51,821,573,338",1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [ ]:
#Set a comparator
comparator = np.float64(10)
#Now iterate through the main and find relevant values
for i, row in main_df.iterrows():
    #Only do this if there isn't already a value for HDI
    if(pd.isna(row['HDI for year'])):
        value = -1
        country = row['country']
        year = row['year']
        year = str(year)
        #Get the relevant row from the supp dataframe
        hdi_row = supp_df.loc[supp_df['Country'].str.contains(country)]
        #Check if the year is in the columns
        if(year in hdi_row.columns):
            #If so, get the value
            value = hdi_row[year]
        #If the value was found and it wasn't -1, and the series is not empty get the first value of the series
        if(type(value) != type(-1)):
            if(len(value) > 0):
                value = (value.values[0])
                if(pd.isna(value)):
                    value = -1
            else:
                value = -1
        main_df.loc[i, 'HDI for year'] = value

# Data Cleaning

Describe your data cleaning steps here.

In [ ]:
#First get an understanding of what the data looks like
main_df.shape

In [ ]:
checked_df = main_df.dropna()
checked_df.shape

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

1. Is suicide rate growing every year?

In [ ]:
year_group = main_df.groupby('year').mean()
year_group.plot(y='suicides/100k pop',kind="bar", figsize=(15, 5), title="Average Suicides/100k Each Year")

As we can see in the graph, we cannot conclude that the suicide rate is growing each year. We can see from the graph that there is a peak in 1995 and 2016 but there is no clear clue to show that the suicide rate is either increasing or decreasing.

2. In general, which population is more likely to commit suicide? (country, age, gender)

In [ ]:
country_group = main_df.groupby('country').mean()
country_group = country_group.sort_values(by=['suicides/100k pop'], ascending=False)
country_group.plot(y='suicides/100k pop',kind="bar", figsize=(20, 8), title="Average Suicides/100k in Each Country")

In [ ]:
country_group

Above table is countries that are sorted in the order of suicide rate. 
As we can see the countries listed in the top have higher suicide rate.

In [ ]:
age_group = main_df.groupby('age').mean()
age_group = age_group.sort_values(by=['suicides/100k pop'], ascending=False)
age_group.plot(y='suicides/100k pop',kind="bar", figsize=(5, 5), title="Average Suicides/100k in Each Age Group")

As we can see in the graph above, age group of 75+ has the highest suicide rate and age group of 5-14 has the lowest suicide rate.

In [ ]:
gender_group = main_df.groupby('sex').mean()
gender_group = gender_group.sort_values(by=['suicides/100k pop'], ascending=False)
gender_group.plot(y='suicides/100k pop',kind="bar", figsize=(5, 5), title="Average Suicides/100k in Each Gender Group")

As we can see in the graph above, males' suicide rate is significantly higher than females'.

3.   For each Top suicide rate country, analyse which age or gender are more likely to commit suicide？

In [ ]:
country_list = main_df.groupby('country', as_index=False).sum()
country_list = country_group.sort_values(by=['suicides/100k pop'], ascending=False)
country_list.plot(y='suicides/100k pop',kind="bar", figsize=(35, 20), title="Average Suicides/100k in Each Country")

In [ ]:
top_country = country_list[0:3]

In [ ]:
top_country

In [ ]:
lithuania = main_df[main_df['country']=='Lithuania']
litAge = lithuania.groupby('age').sum()
litAge = litAge.sort_values(by=['suicides/100k pop'], ascending=False)
litAge.plot(y='suicides/100k pop',kind="bar", figsize=(10, 7), title="Average Suicides/100k in different age range in Lithuania")

As a result, people between 35-54 years old has the highest population to commit suicide, followed by 55-74 and 75+ ages old people.

In [ ]:
litGender = lithuania.groupby('sex').sum()
litGender = litGender.sort_values(by=['suicides/100k pop'], ascending=False)
litGender.plot(y='suicides/100k pop',kind="bar", figsize=(10, 5), title="Average Suicides/100k in gender in Lithuania")

As shown above, most people who commit suicide in Lithuania are male.

In [ ]:
litYear = lithuania.groupby('year').sum()
litYear = litYear.sort_values(by=['suicides/100k pop'], ascending=False)
litYear.plot(y='suicides/100k pop',kind="bar", figsize=(35, 20), title="Average Suicides/100k in Each Year in Lithuania")

As the graph shows, the average suicide rate is decreasing significantly as year increases. In another word, less people commit suicide nowadays.

In [ ]:
sri = main_df[main_df['country']=='Sri Lanka']
sriAge = sri.groupby('age').sum()
sriAge = sriAge.sort_values(by=['suicides/100k pop'], ascending=False)
sriAge.plot(y='suicides/100k pop',kind="bar", figsize=(10, 7), title="Average Suicides/100k in different age range in Sri Lanka")

As graph shown above, the number of older people between over 75 years old who commit suicide is signigiantly larger than other ages, so more attention to older people would be necessary in order to control the suicide rate in the future for Sri Lanka.

In [ ]:
sriGender = sri.groupby('sex').sum()
sriGender = sriGender.sort_values(by=['suicides/100k pop'], ascending=False)
sriGender.plot(y='suicides/100k pop',kind="bar", figsize=(10, 5), title="Average Suicides/100k in gender in Sri Lanka")

Similarly, in Sri Lanka, male also takes a majority of the suicide population.

In [ ]:
sriYear = sri.groupby('year').sum()
sriYear = sriYear.sort_values(by=['suicides/100k pop'], ascending=False)
sriYear.plot(y='suicides/100k pop',kind="bar", figsize=(35, 20), title="Average Suicides/100k in Each Year in Sri Lanka")

Russ's suicide population is also decreasing, but the decreasing rate is smaller recent several years.

In [ ]:
russ = main_df[main_df['country']=='Russian Federation']
russAge = russ.groupby('age').sum()
russAge = russAge.sort_values(by=['suicides/100k pop'], ascending=False)
russAge.plot(y='suicides/100k pop',kind="bar", figsize=(10, 7), title="Average Suicides/100k in different age range in Russian Federation")

In [ ]:
russGender = russ.groupby('sex').sum()
russGender = russGender.sort_values(by=['suicides/100k pop'], ascending=False)
russGender.plot(y='suicides/100k pop',kind="bar", figsize=(10, 5), title="Average Suicides/100k in gender in Sri Lanka")

In [ ]:
russYear = russ.groupby('year').sum()
russYear = russYear.sort_values(by=['suicides/100k pop'], ascending=False)
russYear.plot(y='suicides/100k pop',kind="bar", figsize=(35, 20), title="Average Suicides/100k in Each Year in Sri Lanka")

It could clearly show that the suicide population has decreased

Overall, after comparing graphs from different countries with different variable (year, sex, age). We believe that thought their suicide population are all decreasing, the Russian Federation has the most significant decrease. And for all three countries, male takes the majority of the suicide population.

In [ ]:
from pandas.plotting import scatter_matrix
fig=scatter_matrix(main_df,figsize=(20,18))

In [ ]:
corrs=main_df.corr()
corrs

## GDP per capita and suicide rate

In [ ]:
# combine suicide number of diffent gender and age in same country and same year
aggregation_functions = {'country-year': 'first','country': 'first','year': 'first', 'suicides/100k pop': 'sum', 'gdp_per_capita ($)': 'first'}
df_new = main_df.groupby(main_df['country-year']).aggregate(aggregation_functions).reindex(columns=main_df.columns)
df_new.drop(['sex', 'age', 'suicides_no','population','HDI for year','gdp_for_year ($)','generation'], inplace=True, axis=1)

### Scatter plot

In [ ]:
# scatter plot to see suicide rate and GDP per capita for countries in different year
plt.scatter(df_new['gdp_per_capita ($)'],df_new['suicides/100k pop'],c=df_new['year'])
plt.title("Scatter plot of every country's suicide rate and GDP per capita")
plt.xlabel("GDP per capita ($)")
plt.ylabel("Suicides/100k population")
plt.colorbar()
plt.show()

On the scatter plot, we can see in general, the GDP per capita for countries gradually increase from 1985 to 2015, and the suicide rate is a little bit dropping from 1985 to 2015. Although higher the GDP per capita, the upper boundary for suicide rate drops, we still can't see clearly how suicide rate distributes for countries with same GDP per capita. 

To further investigate, we specifically look into data in 2015 and 1985.

In [ ]:
# scatter plot to see suicide rate and GDP per capita for different countries in year 1985
year_2015 = plt.scatter(df_new[df_new['year']==2015]['gdp_per_capita ($)'],df_new[df_new['year']==2015]['suicides/100k pop'], color='g')
year_1985 = plt.scatter(df_new[df_new['year']==1985]['gdp_per_capita ($)'],df_new[df_new['year']==1985]['suicides/100k pop'], color='r')
plt.title("Scatter plot of every country's suicide rate and GDP percapita in 1985")
plt.xlabel("GDP per capita ($)")
plt.ylabel("Suicides/100k population")
plt.legend((year_2015, year_1985),('2015', '1985'),scatterpoints=1,loc='upper right',fontsize=8)
plt.show()

From the scatter plot, we can clearly see that in general the GDP per capita is higher in 2015 than 1985. However, although the hightes suicide rate in one country drops in 2015, it's unclear how the suicide rate distribution in 2015 differs from the suicide rate distribution ino 1985. During both of the years, we can see as GDP per capita increase, there are less countries with extremely low suicide rate as well as countries with extremely high suicide rate. 

We want to run a linear regression model to check the linear relationship between GDP per capita and suicide rate in both years.

### Linear Regression Model

The simple linear regression model takes following form: 

y = a+bx

where in this case:
y is the suicide rate per 100k population 
x is the GDP per capita in dollar
a is the y-incercept 
b is the gradient, which means the increase the suicide rate per unit increase on GDP per capita.

In [ ]:
# best fit line in linear regression model
a1, b1 = np.polyfit(df_new[df_new['year']==2015]['gdp_per_capita ($)'], df_new[df_new['year']==2015]['suicides/100k pop'], 1)
gdp_2015 = np.arange(0,120000)
pred_suicide_rate_2015 = a1*gdp_2015 + b1

a2, b2 = np.polyfit(df_new[df_new['year']==1985]['gdp_per_capita ($)'], df_new[df_new['year']==1985]['suicides/100k pop'], 1)
gdp_1985 = np.arange(0,20000)
pred_suicide_rate_1985 = a2*gdp_1985 + b2

year_2015 = plt.scatter(df_new[df_new['year']==2015]['gdp_per_capita ($)'],df_new[df_new['year']==2015]['suicides/100k pop'], color='g')
year_1985 = plt.scatter(df_new[df_new['year']==1985]['gdp_per_capita ($)'],df_new[df_new['year']==1985]['suicides/100k pop'], color='r')
plt.plot(gdp_2015, pred_suicide_rate_2015, '-r',color = 'g')
plt.plot(gdp_1985, pred_suicide_rate_1985, '-r',color = 'r')
plt.title("Scatter plot of every country's suicide rate and GDP percapita in 1985")
plt.xlabel("GDP per capita ($)")
plt.ylabel("Suicides/100k population")
plt.legend((year_2015, year_1985),('2015', '1985'),scatterpoints=1,loc='upper right',fontsize=8)
plt.show()

According to the linear regression line, in both years, the suicide rate is in positive relation with GDP per capita. Higher the GDP per capita of the country, more likely the country has a higher suicide rate. By looking at the gradients of the regression lines, we conjecture in 1985 the GDP per capita has larger influence on suicide rate compared to 2015.

Then we want to check how reliable our linear regression model is.

In [ ]:
df_new.rename(columns={'gdp_per_capita ($)':'gdp_per_capita'}, inplace=True)
df_new.rename(columns={'suicides/100k pop':'suicides'}, inplace=True)

df_new_2015 = df_new[df_new['year']==2015]
correlation_2015 = np.corrcoef(df_new_2015['gdp_per_capita'],df_new_2015['suicides'])

df_new_1985 = df_new[df_new['year']==1985]
correlation_1985 = np.corrcoef(df_new_1985['gdp_per_capita'],df_new_1985['suicides'])

The correlation of suicide rate and GDP per capita in 2015 is 0.061, which means the data conform little to the linear model. The correlation of suicide rate and GDP per capita in 1985 is 0.168, which means the data conform slightly more to the linear model than data in 2015.

To run the hypothesis test with significance level 0.05, we have following hypotheses:

Null hypothesis: There is no linear relationship between suicide rate and GDP per capita. (b=0)

Alternative hypothesis: There is a linear relationship between suicide rate and GDP per capita. (b not equal to 0)

### Hypothesis test for Linear Regression Model for 2015

In [ ]:
#find p-value for linear regression in 2015 
outcome_1, predictors_1 = patsy.dmatrices('suicides ~ gdp_per_capita', df_new_2015)
mod_1 = sm.OLS(outcome_1, predictors_1)
res_1 = mod_1.fit()

print(res_1.summary())

In [ ]:
# alternative way to find P-value
lm1 = smf.ols(formula='suicides ~ gdp_per_capita', data=df_new_2015).fit()
lm1.pvalues

The P-value is 0.635, which is larger than 0.05, therefore Null hypothesis (H0) is accepted, and there's no clear linear relationship between GDP per capita and suicide rate in 2015.

### Hypothesis test for Linear Regression Model for 1985

In [ ]:
#find p-value for linear regression in 2015 
outcome_2, predictors_2 = patsy.dmatrices('suicides ~ gdp_per_capita', df_new_1985)
mod_2 = sm.OLS(outcome_2, predictors_2)
res_2 = mod_2.fit()

print(res_1.summary())

In [ ]:
# alternative way to find P-value
lm2 = smf.ols(formula='suicides ~ gdp_per_capita', data=df_new_1985).fit()
lm2.pvalues

The P-value is 0.254, which is larger than 0.05, therefore Null hypothesis (H0) is accepted, and there's no clear linear relationship between GDP per capita and suicide rate in 1985.

### Conclusion

There is no clear linear relationship between country GDP per capita and suicide rate in year 2015 as well as 1985. However, we can see from scatter plot that highter the country's GDP per capita, it's less likely for the country to have extremely high or extremely low suicide rate, and the more predicable the country's suicide rate is. In the countries with low GDP per capita, the flotation of suicide rate might be caused by the countrie's specific situations besides GDP.

### HDI and suicide rate

In [ ]:
# combine suicide number of diffent gender and age in same country and same year
aggregate_HDI = {'country-year': 'first','country': 'first','year': 'first', 'suicides/100k pop': 'sum', 'HDI for year': 'first'}
df_HDI = main_df.groupby(main_df['country-year']).aggregate(aggregate_HDI).reindex(columns=main_df.columns)
df_HDI.drop(['sex', 'age', 'suicides_no','population','gdp_for_year ($)','gdp_per_capita ($)','generation'], inplace=True, axis=1)
#drop rows where HDI=-1, which means there is no available HDI data for that year
df_HDI = df_HDI.drop(df_HDI[df_HDI['HDI for year'] == -1].index)
df_HDI

First, we randomly pick some countries to plot the relationship between suicide rate and HDI over years.

In [ ]:
ax = plt.gca()
df_country1=df_HDI.loc[df_HDI['country']=='United States']
#modify column value to obtain suicide rate
df_country1['suicides/100k pop']=df_country1['suicides/100k pop']/100000*100
df_country1.plot(kind='line',x='year',y='HDI for year',ax=ax)
df_country1.plot(kind='line',x='year',y='suicides/100k pop', color='red', ax=ax)

plt.show()

In [ ]:
ax = plt.gca()
df_country1=df_HDI.loc[df_HDI['country']=='Iceland']
#modify column value to obtain suicide rate
df_country1['suicides/100k pop']=df_country1['suicides/100k pop']/100000*100
df_country1.plot(kind='line',x='year',y='HDI for year',ax=ax)
df_country1.plot(kind='line',x='year',y='suicides/100k pop', color='red', ax=ax)

plt.show()

In [ ]:
ax = plt.gca()
df_country2=df_HDI.loc[df_HDI['country']=='Chile']
#modify column value to obtain suicide rate
df_country2['suicides/100k pop']=df_country2['suicides/100k pop']/100000*100
df_country2.plot(kind='line',x='year',y='HDI for year',ax=ax)
df_country2.plot(kind='line',x='year',y='suicides/100k pop', color='red', ax=ax)

plt.show()

In [ ]:
ax = plt.gca()
df_country2=df_HDI.loc[df_HDI['country']=='France']
#modify column value to obtain suicide rate
df_country2['suicides/100k pop']=df_country2['suicides/100k pop']/100000*100
df_country2.plot(kind='line',x='year',y='HDI for year',ax=ax)
df_country2.plot(kind='line',x='year',y='suicides/100k pop', color='red', ax=ax)

plt.show()

In [ ]:
ax = plt.gca()
df_country2=df_HDI.loc[df_HDI['country']=='United Kingdom']
#modify column value to obtain suicide rate
df_country2['suicides/100k pop']=df_country2['suicides/100k pop']/100000*100
df_country2.plot(kind='line',x='year',y='HDI for year',ax=ax)
df_country2.plot(kind='line',x='year',y='suicides/100k pop', color='red', ax=ax)

plt.show()

Interestringly, we can observe a clear negative relationship between suicide rate and HDI in France, indicating that as the human development improves in France over time, the suicide rate greatly decreased. In other countries, like the United States and the United Kingdom, no clear relationship is found between two factors. We can also notice that in Chile, during the time period between 1995 and 2010, suicide rate even increases as HDI increases.

### Scatter plot

In [ ]:
# scatter plot to see suicide rate and GDP per capita for countries in different year
plt.scatter(df_HDI['HDI for year'],df_HDI['suicides/100k pop'],c=df_HDI['year'])
plt.title("Scatter plot of every country's suicide rate and HDI")
plt.xlabel("HDI")
plt.ylabel("Suicides/100k population")
plt.colorbar()
plt.show()

As we can see in the graph, most countries' HDI shows an increasing trend over time. However, as the index getting bigger, there is not a clear trend about how suicide rate reacts to HDI value. We can clearly see a peak in suicide rate where country HDI is roughly 0.7, but when HDI is extremely low or extremely high(at two ends of the graph), suicide rates are not very high.

In [ ]:
# scatter plot to see suicide rate and HDI for different countries in year 1990 and 2015
year_2015 = plt.scatter(df_HDI[df_HDI['year']==2015]['HDI for year'],df_HDI[df_HDI['year']==2015]['suicides/100k pop'])
year_1990 = plt.scatter(df_HDI[df_HDI['year']==1990]['HDI for year'],df_HDI[df_HDI['year']==1990]['suicides/100k pop'], color='y')
plt.title("Scatter plot of every country's suicide rate and HDI in 1990 and 2015")
plt.xlabel("HDI for year")
plt.ylabel("Suicides/100k population")
plt.legend((year_2015, year_1990),('2015', '1990'),scatterpoints=1,loc='upper right',fontsize=8)
plt.show()

We can see a trend that HDI greatly increases in most countries over time, showing a positive relation between HDI and time. But suicide rate distributions in these two years do not have sigificant difference as HDI changes.

In [ ]:
# best fit line in linear regression model
a1, b1 = np.polyfit(df_HDI[df_HDI['year']==2015]['HDI for year'], df_HDI[df_HDI['year']==2015]['suicides/100k pop'], 1)
hdi_2015 = np.linspace(0.65,0.95)
pred_suicide_rate_2015 = a1*hdi_2015 + b1

a2, b2 = np.polyfit(df_HDI[df_HDI['year']==1990]['HDI for year'], df_HDI[df_HDI['year']==1990]['suicides/100k pop'], 1)
hdi_1990 = np.linspace(0.5,0.85)
pred_suicide_rate_1990 = a2*hdi_1990 + b2

year_2015 = plt.scatter(df_HDI[df_HDI['year']==2015]['HDI for year'],df_HDI[df_HDI['year']==2015]['suicides/100k pop'])
year_1990 = plt.scatter(df_HDI[df_HDI['year']==1990]['HDI for year'],df_HDI[df_HDI['year']==1990]['suicides/100k pop'], color='y')
plt.plot(hdi_2015, pred_suicide_rate_2015, )
plt.plot(hdi_1990, pred_suicide_rate_1990, '-r',color = 'y')
plt.title("Scatter plot of every country's suicide rate and HDI")
plt.xlabel("HDI for year")
plt.ylabel("Suicides/100k population")
plt.legend((year_2015, year_1990),('2015', '1990'),scatterpoints=1,loc='upper right',fontsize=8)
plt.show()

In [ ]:
#calculate correlation coefficient for these two years
df_HDI_2015 = df_HDI[df_HDI['year']==2015]
correlation_2015 = np.corrcoef(df_HDI_2015['HDI for year'],df_HDI_2015['suicides/100k pop'])

df_HDI_1990 = df_HDI[df_HDI['year']==1990]
correlation_1990 = np.corrcoef(df_HDI_1990['HDI for year'],df_HDI_1990['suicides/100k pop'])
print(correlation_1990)
print(correlation_2015)

The correlation coefficient between suicide rate and HDI is 0.40 in 1990. The correlation coefficient between suicide rate and HDI is 0.32 in 2015. They match the slopes of two prediction lines in the previous graph, thus indicating that suicide rate is more related to HDI in early years(1990).

In [ ]:
#run linear regression model to conform the relationship between suicide rate and HDI in 2015
df_HDI_2015.rename(columns={'HDI for year':'HDI'}, inplace=True)
df_HDI_2015.rename(columns={'suicides/100k pop':'suicides'}, inplace=True)

#find p-value for linear regression in 2015 
outcome_1, predictors_1 = patsy.dmatrices('suicides~ HDI', df_HDI_2015)
mod_1 = sm.OLS(outcome_1, predictors_1)
res_1 = mod_1.fit()

print(res_1.summary())

P value is 0.015, which is smaller than 0.05, which indicates strong evidence against null hypothesis. So we reject null hypothesis. There is strong relationship between suicide rate and HDI in year 2015.

In [ ]:
#run linear regression model to conform the relationship between suicide rate and HDI in 1990
df_HDI_1990.rename(columns={'HDI for year':'HDI'}, inplace=True)
df_HDI_1990.rename(columns={'suicides/100k pop':'suicides'}, inplace=True)

#find p-value for linear regression in 2015 
outcome_2, predictors_2 = patsy.dmatrices('suicides~ HDI', df_HDI_1990)
mod_2 = sm.OLS(outcome_2, predictors_2)
res_2 = mod_2.fit()

print(res_2.summary())

P value is 0.004, which is smaller than 0.05, which indicates strong evidence against null hypothesis. So we reject null hypothesis. There is also strong relationship between suicide rate and HDI in year 1990.

In [ ]:
# list of developed countries based on UN
#https://www.un.org/en/development/desa/policy/wesp/wesp_current/2014wesp_country_classification.pdf
#https://www.un.org/en/development/desa/policy/wesp/wesp_current/2012country_class.pdf
developed_countries=['Austria', 'Belgium', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Luxembourg', 'Netherlands', 'Portugal' ,'Spain', 'Sweden', 'United Kingdom', 'Austria', 'Belgium', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Luxembourg', 'Netherlands', 'Portugal', 'Spain', 'Sweden',
'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Estonia', 'Hungary', 'Latvia', 'Lithuania', 'Malta', 'Poland', 'Romania', 'Slovakia', 'Slovenia', 'Iceland','Norway', 'Switzerland' , 'Australia', 'Canada', 'Japan', 'New Zealand', 'United States', 'Canada', 'Japan' ]
# add a new coloumn as country classification
main_df['country classification'] = "developing"
# iterate through the list of developed country
# if finds the country in the list replace the country classification as a developed
for i, row in main_df.iterrows():
    if(row['country'] in developed_countries):
        main_df.loc[i, 'country classification'] = "developed"

In [ ]:
main_df.groupby(['country classification'])['suicides/100k pop'].mean()

In [ ]:
sns.boxplot(x='country classification', y= 'suicides/100k pop',data=main_df)

In [ ]:




plt.xlabel("suicides/100k pop for developed countries")
plt.ylabel("Frequency")
plt.hist(main_df[main_df['country classification']=='developed']['suicides/100k pop'])

In [ ]:
plt.xlabel("suicides/100k pop for developing")
plt.ylabel("Frequency")
plt.hist(main_df[main_df['country classification']=='developing']['suicides/100k pop'])

In [ ]:
# transfer the data to log based since the data skewed to the right
main_df['log suicides/100k pop']=main_df['suicides/100k pop']
main_df['log suicides/100k pop']=main_df['log suicides/100k pop'].replace(0,1)
main_df['log suicides/100k pop']=np.log10(main_df['log suicides/100k pop'])

In [ ]:
plt.xlabel("log suicides/100k pop for developed countries")
plt.ylabel("Frequency",fontsize=15)
plt.hist(main_df[main_df['country classification']=='developed']['log suicides/100k pop'])

In [ ]:
plt.xlabel("log suicides/100k pop for developing countries")
plt.ylabel("Frequency")
plt.hist(main_df[main_df['country classification']=='developing']['log suicides/100k pop'])

In [ ]:
#run the ttest
s_developed = main_df.loc[main_df['country classification'] == 'developed' , ['log suicides/100k pop']]
s_developing = main_df.loc[main_df['country classification'] == 'developing' , ['log suicides/100k pop']]
avg_s_developed = s_developed ['log suicides/100k pop'].mean()
avg_s_developing = s_developing ['log suicides/100k pop'].mean()

t_val, p_val = ttest_ind(s_developed, s_developing, equal_var = False)
if p_val < 0.01:
	print('There is a significant difference!')
else:
	print('There is NOT a significant difference!')

In [ ]:
# dictionry of countries and its continents based on https://gist.github.com/pamelafox/986163
countries = [{'timezones': ['America/Antigua'], 'code': 'AG', 'continent': 'North America', 'name': 'Antigua and Barbuda', 'capital': "St. John's"},{'timezones': ['Asia/Yerevan'], 'code': 'AM', 'continent': 'Asia', 'name': 'Armenia', 'capital': 'Yerevan'},{'timezones': ['America/Argentina/Buenos_Aires', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/Tucuman', 'America/Argentina/Catamarca', 'America/Argentina/La_Rioja', 'America/Argentina/San_Juan', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Ushuaia'], 'code': 'AR', 'continent': 'South America', 'name': 'Argentina', 'capital': 'Buenos Aires'},{'timezones': ['Europe/Vienna'], 'code': 'AT', 'continent': 'Europe', 'name': 'Austria', 'capital': 'Vienna'},{'timezones': ['Australia/Lord_Howe', 'Australia/Hobart', 'Australia/Currie', 'Australia/Melbourne', 'Australia/Sydney', 'Australia/Broken_Hill', 'Australia/Brisbane', 'Australia/Lindeman', 'Australia/Adelaide', 'Australia/Darwin', 'Australia/Perth'], 'code': 'AU', 'continent': 'Oceania', 'name': 'Australia', 'capital': 'Canberra'}, {'timezones': ['America/Barbados'], 'code': 'BB', 'continent': 'North America', 'name': 'Barbados', 'capital': 'Bridgetown'},{'timezones': ['Europe/Brussels'], 'code': 'BE', 'continent': 'Europe', 'name': 'Belgium', 'capital': 'Brussels'},{'timezones': ['Europe/Sofia'], 'code': 'BG', 'continent': 'Europe', 'name': 'Bulgaria', 'capital': 'Sofia'},{'timezones': ['Asia/Bahrain'], 'code': 'BH', 'continent': 'Asia', 'name': 'Bahrain', 'capital': 'Manama'},{'timezones': ['America/Noronha', 'America/Belem', 'America/Fortaleza', 'America/Recife', 'America/Araguaina', 'America/Maceio', 'America/Bahia', 'America/Sao_Paulo', 'America/Campo_Grande', 'America/Cuiaba', 'America/Porto_Velho', 'America/Boa_Vista', 'America/Manaus', 'America/Eirunepe', 'America/Rio_Branco'], 'code': 'BR', 'continent': 'South America', 'name': 'Brazil', 'capital': 'Bras\xc3\xadlia'},{'timezones': ['America/Nassau'], 'code': 'BS', 'continent': 'North America', 'name': 'Bahamas', 'capital': 'Nassau'},{'timezones': ['Europe/Minsk'], 'code': 'BY', 'continent': 'Europe', 'name': 'Belarus', 'capital': 'Minsk'},{'timezones': ['America/Belize'], 'code': 'BZ', 'continent': 'North America', 'name': 'Belize', 'capital': 'Belmopan'},{'timezones': ['America/St_Johns', 'America/Halifax', 'America/Glace_Bay', 'America/Moncton', 'America/Goose_Bay', 'America/Blanc-Sablon', 'America/Montreal', 'America/Toronto', 'America/Nipigon', 'America/Thunder_Bay', 'America/Pangnirtung', 'America/Iqaluit', 'America/Atikokan', 'America/Rankin_Inlet', 'America/Winnipeg', 'America/Rainy_River', 'America/Cambridge_Bay', 'America/Regina', 'America/Swift_Current', 'America/Edmonton', 'America/Yellowknife', 'America/Inuvik', 'America/Dawson_Creek', 'America/Vancouver', 'America/Whitehorse', 'America/Dawson'], 'code': 'CA', 'continent': 'North America', 'name': 'Canada', 'capital': 'Ottawa'},{'timezones': ['America/Santiago', 'Pacific/Easter'], 'code': 'CL', 'continent': 'South America', 'name': 'Chile', 'capital': 'Santiago'},{'timezones': ['America/Bogota'], 'code': 'CO', 'continent': 'South America', 'name': 'Colombia', 'capital': 'Bogot\xc3\xa1'},{'timezones': ['America/Costa_Rica'], 'code': 'CR', 'continent': 'North America', 'name': 'Costa Rica', 'capital': 'San Jos\xc3\xa9'},{'timezones': ['America/Havana'], 'code': 'CU', 'continent': 'North America', 'name': 'Cuba', 'capital': 'Havana'},{'timezones': ['Asia/Nicosia'], 'code': 'CY', 'continent': 'Asia', 'name': 'Cyprus', 'capital': 'Nicosia'},{'timezones': ['Europe/Prague'], 'code': 'CZ', 'continent': 'Europe', 'name': 'Czech Republic', 'capital': 'Prague'},{'timezones': ['Europe/Berlin'], 'code': 'DE', 'continent': 'Europe', 'name': 'Germany', 'capital': 'Berlin'},{'timezones': ['Europe/Copenhagen'], 'code': 'DK', 'continent': 'Europe', 'name': 'Denmark', 'capital': 'Copenhagen'},{'timezones': ['America/Dominica'], 'code': 'DM', 'continent': 'North America', 'name': 'Dominica', 'capital': 'Roseau'},{'timezones': ['America/Guayaquil', 'Pacific/Galapagos'], 'code': 'EC', 'continent': 'South America', 'name': 'Ecuador', 'capital': 'Quito'},{'timezones': ['Europe/Tallinn'], 'code': 'EE', 'continent': 'Europe', 'name': 'Estonia', 'capital': 'Tallinn'},{'timezones': ['Europe/Helsinki'], 'code': 'FI', 'continent': 'Europe', 'name': 'Finland', 'capital': 'Helsinki'},{'timezones': ['Pacific/Fiji'], 'code': 'FJ', 'continent': 'Oceania', 'name': 'Fiji', 'capital': 'Suva'},{'timezones': ['Europe/Paris'], 'code': 'FR', 'continent': 'Europe', 'name': 'France', 'capital': 'Paris'},{'timezones': ['Asia/Tbilisi'], 'code': 'GE', 'continent': 'Asia', 'name': 'Georgia', 'capital': 'Tbilisi'},{'timezones': ['Europe/Athens'], 'code': 'GR', 'continent': 'Europe', 'name': 'Greece', 'capital': 'Athens'},{'timezones': ['America/Guatemala'], 'code': 'GT', 'continent': 'North America', 'name': 'Guatemala', 'capital': 'Guatemala City'},{'timezones': ['America/Guyana'], 'code': 'GY', 'continent': 'South America', 'name': 'Guyana', 'capital': 'Georgetown'},{'timezones': ['Europe/Budapest'], 'code': 'HU', 'continent': 'Europe', 'name': 'Hungary', 'capital': 'Budapest'},{'timezones': ['Europe/Dublin'], 'code': 'IE', 'continent': 'Europe', 'name': 'Ireland', 'capital': 'Dublin'},{'timezones': ['Asia/Jerusalem'], 'code': 'IL', 'continent': 'Asia', 'name': 'Israel', 'capital': 'Jerusalem'},{'timezones': ['Atlantic/Reykjavik'], 'code': 'IS', 'continent': 'Europe', 'name': 'Iceland', 'capital': 'Reykjav\xc3\xadk'},{'timezones': ['Europe/Rome'], 'code': 'IT', 'continent': 'Europe', 'name': 'Italy', 'capital': 'Rome'},{'timezones': ['America/Jamaica'], 'code': 'JM', 'continent': 'North America', 'name': 'Jamaica', 'capital': 'Kingston'},{'timezones': ['Asia/Tokyo'], 'code': 'JP', 'continent': 'Asia', 'name': 'Japan', 'capital': 'Tokyo'},{'timezones': ['Asia/Bishkek'], 'code': 'KG', 'continent': 'Asia', 'name': 'Kyrgyzstan', 'capital': 'Bishkek'},{'timezones': ['Pacific/Tarawa', 'Pacific/Enderbury', 'Pacific/Kiritimati'], 'code': 'KI', 'continent': 'Oceania', 'name': 'Kiribati', 'capital': 'Tarawa'},{'timezones': ['Asia/Kuwait'], 'code': 'KW', 'continent': 'Asia', 'name': 'Kuwait', 'capital': 'Kuwait City'},{'timezones': ['Europe/Vilnius'], 'code': 'LT', 'continent': 'Europe', 'name': 'Lithuania', 'capital': 'Vilnius'},{'timezones': ['Europe/Luxembourg'], 'code': 'LU', 'continent': 'Europe', 'name': 'Luxembourg', 'capital': 'Luxembourg City'},{'timezones': ['Europe/Riga'], 'code': 'LV', 'continent': 'Europe', 'name': 'Latvia', 'capital': 'Riga'},{'timezones': ['Asia/Ulaanbaatar', 'Asia/Hovd', 'Asia/Choibalsan'], 'code': 'MN', 'continent': 'Asia', 'name': 'Mongolia', 'capital': 'Ulaanbaatar'},{'timezones': ['Europe/Malta'], 'code': 'MT', 'continent': 'Europe', 'name': 'Malta', 'capital': 'Valletta'},{'timezones': ['Indian/Mauritius'], 'code': 'MU', 'continent': 'Africa', 'name': 'Mauritius', 'capital': 'Port Louis'},{'timezones': ['Indian/Maldives'], 'code': 'MV', 'continent': 'Asia', 'name': 'Maldives', 'capital': 'Mal\xc3\xa9'},{'timezones': ['America/Mexico_City', 'America/Cancun', 'America/Merida', 'America/Monterrey', 'America/Mazatlan', 'America/Chihuahua', 'America/Hermosillo', 'America/Tijuana'], 'code': 'MX', 'continent': 'North America', 'name': 'Mexico', 'capital': 'Mexico City'},{'timezones': ['America/Managua'], 'code': 'NI', 'continent': 'North America', 'name': 'Nicaragua', 'capital': 'Managua'},{'timezones': ['Europe/Amsterdam'], 'code': 'NL', 'continent': 'Europe', 'name': 'Netherlands', 'capital': 'Amsterdam'},{'timezones': ['Europe/Oslo'], 'code': 'NO', 'continent': 'Europe', 'name': 'Norway', 'capital': 'Oslo'},{'timezones': ['Pacific/Auckland', 'Pacific/Chatham'], 'code': 'NZ', 'continent': 'Oceania', 'name': 'New Zealand', 'capital': 'Wellington'},{'timezones': ['Asia/Muscat'], 'code': 'OM', 'continent': 'Asia', 'name': 'Oman', 'capital': 'Muscat'},{'timezones': ['America/Panama'], 'code': 'PA', 'continent': 'North America', 'name': 'Panama', 'capital': 'Panama City'},{'timezones': ['Asia/Manila'], 'code': 'PH', 'continent': 'Asia', 'name': 'Philippines', 'capital': 'Manila'},{'timezones': ['Europe/Warsaw'], 'code': 'PL', 'continent': 'Europe', 'name': 'Poland', 'capital': 'Warsaw'},{'timezones': ['Europe/Lisbon', 'Atlantic/Madeira', 'Atlantic/Azores'], 'code': 'PT', 'continent': 'Europe', 'name': 'Portugal', 'capital': 'Lisbon'},{'timezones': ['America/Asuncion'], 'code': 'PY', 'continent': 'South America', 'name': 'Paraguay', 'capital': 'Asunci\xc3\xb3n'},{'timezones': ['Asia/Qatar'], 'code': 'QA', 'continent': 'Asia', 'name': 'Qatar', 'capital': 'Doha'},{'timezones': ['Europe/Bucharest'], 'code': 'RO', 'continent': 'Europe', 'name': 'Romania', 'capital': 'Bucharest'},{'timezones': ['Europe/Kaliningrad', 'Europe/Moscow', 'Europe/Volgograd', 'Europe/Samara', 'Asia/Yekaterinburg', 'Asia/Omsk', 'Asia/Novosibirsk', 'Asia/Krasnoyarsk', 'Asia/Irkutsk', 'Asia/Yakutsk', 'Asia/Vladivostok', 'Asia/Sakhalin', 'Asia/Magadan', 'Asia/Kamchatka', 'Asia/Anadyr'], 'code': 'RU', 'continent': 'Europe', 'name': 'Russian Federation', 'capital': 'Moscow'},{'timezones': ['Indian/Mahe'], 'code': 'SC', 'continent': 'Africa', 'name': 'Seychelles', 'capital': 'Victoria'},{'timezones': ['Europe/Stockholm'], 'code': 'SE', 'continent': 'Europe', 'name': 'Sweden', 'capital': 'Stockholm'},{'timezones': ['Asia/Singapore'], 'code': 'SG', 'continent': 'Asia', 'name': 'Singapore', 'capital': 'Singapore'},{'timezones': ['Europe/Ljubljana'], 'code': 'SI', 'continent': 'Europe', 'name': 'Slovenia', 'capital': 'Ljubljana'},{'timezones': ['Europe/Bratislava'], 'code': 'SK', 'continent': 'Europe', 'name': 'Slovakia', 'capital': 'Bratislava'},{'timezones': ['Europe/San_Marino'], 'code': 'SM', 'continent': 'Europe', 'name': 'San Marino', 'capital': 'San Marino'},{'timezones': ['America/Paramaribo'], 'code': 'SR', 'continent': 'South America', 'name': 'Suriname', 'capital': 'Paramaribo'},{'timezones': ['Asia/Bangkok'], 'code': 'TH', 'continent': 'Asia', 'name': 'Thailand', 'capital': 'Bangkok'},{'timezones': ['Asia/Ashgabat'], 'code': 'TM', 'continent': 'Asia', 'name': 'Turkmenistan', 'capital': 'Ashgabat'},{'timezones': ['Europe/Istanbul'], 'code': 'TR', 'continent': 'Asia', 'name': 'Turkey', 'capital': 'Ankara'},{'timezones': ['America/Port_of_Spain'], 'code': 'TT', 'continent': 'North America', 'name': 'Trinidad and Tobago', 'capital': 'Port of Spain'},{'timezones': ['Europe/Kiev', 'Europe/Uzhgorod', 'Europe/Zaporozhye', 'Europe/Simferopol'], 'code': 'UA', 'continent': 'Europe', 'name': 'Ukraine', 'capital': 'Kiev'},{'timezones': ['America/New_York', 'America/Detroit', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Indiana/Indianapolis', 'America/Indiana/Marengo', 'America/Indiana/Knox', 'America/Indiana/Vevay', 'America/Chicago', 'America/Indiana/Vincennes', 'America/Indiana/Petersburg', 'America/Menominee', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Denver', 'America/Boise', 'America/Shiprock', 'America/Phoenix', 'America/Los_Angeles', 'America/Anchorage', 'America/Juneau', 'America/Yakutat', 'America/Nome', 'America/Adak', 'Pacific/Honolulu'], 'code': 'US', 'continent': 'North America', 'name': 'United States', 'capital': 'Washington, D.C.'},{'timezones': ['America/Montevideo'], 'code': 'UY', 'continent': 'South America', 'name': 'Uruguay', 'capital': 'Montevideo'},{'timezones': ['Asia/Samarkand', 'Asia/Tashkent'], 'code': 'UZ', 'continent': 'Asia', 'name': 'Uzbekistan', 'capital': 'Tashkent'},{'timezones': ['Europe/Sarajevo'], 'code': 'BA', 'continent': 'Europe', 'name': 'Bosnia and Herzegovina', 'capital': 'Sarajevo'},{'timezones': ['Europe/Zagreb'], 'code': 'HR', 'continent': 'Europe', 'name': 'Croatia', 'capital': 'Zagreb'},{'timezones': ['America/El_Salvador'], 'code': 'SV', 'continent': 'North America', 'name': 'El Salvador', 'capital': 'San Salvador'},{'timezones': ['America/Grenada'], 'code': 'GD', 'continent': 'North America', 'name': 'Grenada', 'capital': "St. George's"},{'timezones': ['Asia/Almaty', 'Asia/Qyzylorda', 'Asia/Aqtobe', 'Asia/Aqtau', 'Asia/Oral'], 'code': 'KZ', 'continent': 'Asia', 'name': 'Kazakhstan', 'capital': 'Astana'},{'timezones': ['Europe/Podgorica'], 'code': 'ME', 'continent': 'Europe', 'name': 'Montenegro', 'capital': 'Podgorica'},{'timezones': ['America/St_Kitts'], 'code': 'KN', 'continent': 'North America', 'name': 'Saint Kitts and Nevis', 'capital': 'Basseterre'},{'timezones': ['America/St_Lucia'], 'code': 'LC', 'continent': 'North America', 'name': 'Saint Lucia', 'capital': 'Castries'},{'timezones': ['America/St_Vincent'], 'code': 'VC', 'continent': 'North America', 'name': 'Saint Vincent and Grenadines', 'capital': 'Kingstown'},{'timezones': ['Europe/Belgrade'], 'code': 'RS', 'continent': 'Europe', 'name': 'Serbia', 'capital': 'Belgrade'},{'timezones': ['Africa/Johannesburg'], 'code': 'ZA', 'continent': 'Africa', 'name': 'South Africa', 'capital': 'Pretoria'},{'timezones': ['Asia/Colombo'], 'code': 'LK', 'continent': 'Asia', 'name': 'Sri Lanka', 'capital': 'Sri Jayewardenepura Kotte'},{'timezones': ['Europe/Zurich'], 'code': 'CH', 'continent': 'Europe', 'name': 'Switzerland', 'capital': 'Bern'},{'timezones': ['Asia/Dubai'], 'code': 'AE', 'continent': 'Asia', 'name': 'United Arab Emirates', 'capital': 'Abu Dhabi'},{'timezones': ['Europe/London'], 'code': 'GB', 'continent': 'Europe', 'name': 'United Kingdom', 'capital': 'London'}, {'timezones': ['?'], 'code': '?', 'continent': 'Asia', 'name': 'Macau', 'capital': '?'}, {'timezones': ['?'], 'code': '?', 'continent': 'North America', 'name': 'Puerto Rico', 'capital': '?'}, {'timezones': ['?'], 'code': '?', 'continent': 'Asia', 'name': 'Republic of Korea', 'capital': '?'}, {'timezones': ['Europe/Madrid', 'Africa/Ceuta', 'Atlantic/Canary'], 'code': 'ES', 'continent': 'Europe', 'name': 'Spain', 'capital': 'Madrid'}]

In [ ]:
# Make new variable 'continent' that represent continent of each country
# we only considered the year 2015
main_df=main_df[main_df['year']==2015]
main_df['continent'] = "NA"
# iterate through the dataframe and dictionary
for i, row in main_df.iterrows():
        for j in countries:
            if (row['country']==j["name"]):
                main_df.loc[i, 'continent'] = j["continent"]

In [ ]:
#we analyzed the suicide rate based on the continent. unfortunatly due to lack of data from Africa and Asia we cannot include these two continents in our report.

In [ ]:
main_df=main_df[main_df['continent']!='Africa']
main_df=main_df[main_df['continent']!='Asia']
continent_group = main_df.groupby(['continent']).mean()
continent_group = continent_group.sort_values(by=['suicides/100k pop'], ascending=False)
continent_group.plot(y='suicides/100k pop',kind="bar", figsize=(5, 5), title="Average Suicides/100k in Each continent")

In [ ]:
#As we can see Europe has the highest suicide rate. and Slovenia, Hungary, and Lithuania has the highest suicide rate.

# Ethics & Privacy

- Based on the Kaggle policy we complied that we use the Services for our own internal, personal, non-commercial use, and not on behalf of or for the benefit of any third party therefore we have the permission to use the data. Since what we are doing is a non-profit school project that is not for the benefit of any third party, we believe that we have permission to use the data. (https://www.kaggle.com/terms)
- We believe that we do not need to deal with the privacy concerns since the data is masked. Similar to data that is protected by the Safe Harbour method, we cannot see any identifiers of the individuals that are in this dataset.
- There is potential bias in our dataset, that is, the dataset is not complete. It is missing some countries (including China and India, which are the two countries with most population in the world) therefore a large number of population is excluded in this dataset.
- Another issue is that we do not know how the data was collected, therefore we are not sure if the data is completely accurate. It is possible that in some countries the suiciders were not found or some people’s cause of death was misidentified.
- Unfortunately we cannot tell if the data is collected exactly accurate or not. However, since the dataset is analyzing the relationship among age, gender and country GDP, we can analyze the data even though the data does not include every country in the world since we are doing the hypothesis test of relationship .

# Conclusion & Discussion

*Fill in your discussion information here*